  <div class="redhead"><img src="/files/redhead.png" alt="red head"></div>
  <div class="greyhead"><img src="/files/grayhead.png" alt="gray head"></div>
  <script src="/js/app.js"></script>
  </body>
</html>