<%- include("head.partial.ejs") %>

<main>
    <div class="menu">
        <h1>Mega kawaii cute dating sim</h1>
        <img class="play-button" src="/files/play-button.png">
        <img class="load-button" src="/files/load-button.png">
    </div>
</main>

<%- include("foot.partial.ejs") %>
